/* Defined some styling values for reuse to ensure consistency */
:root{
    --all-primary-backgound: #000;
    --all-primary-font: #fff;
    --all-box-background:#fff;
    --all-box-font: #000;   
    --all-box-border: 5px;
    --all-box-border-style: solid;
    --all-border-radius-round: 120px;
    --all-border-radius-oblong: 52px;
    --all-bottom-shadow: 10px;
    --all-box-shadow: 10px 10px 5px #darkslategray;
    --all-font: 'Verdana','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    --nav-border-color:#FF00FF; 
}

* {    
    background: var(--all-primary-backgound);
    color: var(--all-primary-font);
    box-sizing: border-box;
}

body{
  background: var(--all-primary-backgound);

}

h1, h2{
  color:#FF00FF; 
}
h2{
  text-align: center;
}

mark{
  background:rgba(253, 208, 4, 0.897);
  color:black;
}

.BannerBox{
position:relative;
justify-content: space-around;
}

.jumbotron{

    height: 100vh;
    background : var(--all-primary-backgound);
}

#catimg{

  mix-blend-mode: exclusion ;
  align-self: center;
  z-index: 1;

}

button{

  color:#FF00FF; 
  display: inline-block;
  
}
#headimg{

  border-radius: var(--all-border-radius-oblong);
  mix-blend-mode: luminosity;
  position: sticky; 
  
  height:100px;
  width:100px;
}

.nav-box:hover{
  transition: border-color 2s linear;
  border-color: var(--nav-border-color);
}
.bi{
  color: #FF00FF;
}
#img2::after{

  transition: var(--nav-border-color) 2s linear;
  border: 10px solid #FF00FF; 
  box-shadow: 10px 10px 5px #FF00FF; 
}
.resume{
  align-self: flex-end;
}
  
 a{
  align-content: center;
  background-color: var(--all-primary-background);
  color:#FF00FF; 
  font-family: var(--all-font);
  font-size: 0.75em;
} 

footer{  

  justify-content: center;
  padding: 2%;
  background: var(--all-primary-backgound);
  color: var(--all-primary-font);
}

footer p {

  color: var(--all-primary-font);
  background-color:var(--all-primary-backgound);
  text-align: center;
}


#ContactDetails{
  background: var(--all-primary-backgound);
  color: var(--all-primary-font);
  font-size: 20px;
  font: small-caption;
  border-radius: var(--all-border-radius-oblong);
}

#img #phone #email #linkedin {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  main{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  }
}

.responsive{
  
  width: 100%;
  height: auto;
  }

.card {
  margin: 0%; 
  background-color: var(--all-box-background);
  color: var(--all-box-font);
}

.card a :hover{

  transition: var-border-color 2s linear;
  border: 10px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  
  }

#ContactDetails p {

  margin: 0%;
  text-align: justify; 
  font-family: var(--all-font);
}

